**/bin
**/out

# editor
**/.idea
**/.vscode

# CMake
**/CMakeFiles
**/cmake-build-debug
Makefile
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
liberegion.so

#CPack
install_manifest.txt

# App
libGLAD.a
Celebrimbor